/* #bod{
  background-image: url(src/assets/jon.jpg);
  background-size:auto;
  background-attachment: fixed;
  margin-top: 150px;
  border: 5px solid blue;
} */

 /* ul{
  background-image: url(src/assets/jon.jpg);
  background-size: 100vw 100vh;
  height: 200px;
  position: relative;
  border: 3px solid green;
  margin-top: 150px;
} */




 .container {
  height: 200px;
  position: relative;
  border: 3px solid green;
  margin-top: 150px;
  background-image: url(src/assets/jon.jpg);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
