 <!-- <div class="container" id="bod">
    <ul class="list-group" >
      <li class="list-group-item">
        <button class="btn btn-outline-primary" (click)="surveyClick()">Fill Out Survey</button>
      </li>
      <li class="list-group-item">
        <button class="btn btn-outline-success" (click)="surveyResultClick()">View Survey Results</button>
      </li>
    </ul>

</div> -->

<div class="container">
  <div class="center">
    <button class="btn btn-outline-primary" (click)="surveyClick()">Fill Out Survey</button>
    <button class="ml-2 btn btn-outline-success" (click)="surveyResultClick()">View Survey Results</button>
  </div>
</div>
