<div class="container-fluid">
  <div class="row">
  <div class="col">

  <div class="jumbotron" style="background-color: green;">
    <h1 class="display-4 text-center">View Survey</h1>
    <p class="lead text-center">
       Trusted results
    </p>

    </div>
    </div>
  </div>
</div>
<div class="card white bg- dark mt-4" style="max-width: 100rem;">
  <h5 class="card-header">Survey</h5>
  <div class="card-body">
    <p class="card-text">Total number of surveys:</p>
    <p class="card-text">Average age:</p>
    <p class="card-text">Oldest person who participated in survey:</p>
    <p class="card-text">Youngest person who participated in survey:</p><br>
    <p class="card-text">Percentage of people who like Pizza:</p>
    <p class="card-text">Percentage of people who like Pasta:</p>
    <p class="card-text">Percentage of people who like Pap and Wors:</p><br>
    <p class="card-text">People like to eat out:</p>
    <p class="card-text">People like to watch movies:</p>
    <p class="card-text">People like to watch TV:</p>
    <p class="card-text">People like to listen to the radio:</p>
  </div>
<div class="card-footer text-center">
  <button type="button" class="btn btn-lg btn-outline-success" (click)="viewResult()">OK</button>
</div>
</div>

<footer class="footer-area mt-5">
  <p class="text-center">MD Technologies | JACKIE M Designs. All Rights Reserved.</p>
</footer>

<!-- <ul>
  <li *ngFor="let user of users$ | async">
    List of names {{ user.fullName }}{{ user.surname }}
  </li>
</ul>

<ul>
  <li *ngFor="let user of users | async">
    List of names {{ user.age}}
  </li>
</ul> -->
